#cc-container {
  float: right;        /* Snaps text to the right side of the centered box */
  width: 680px;
  height: 320px;
  top: 80px;           /* Adjusted to sit nicely under the "Now" bar */
  position: relative;
}

.cc-text {
  font-size: 72px;     /* Nice and large, but not bold */
  font-weight: normal !important;
  line-height: 90px;
  white-space: nowrap;
}

.cc-left {
  width: 320px;        /* Enough room for "FEELS LIKE" */
}
