.page-content-container {
  height: 525px;
  width: 1150px;       /* Set to fit the dial + text box */
  position: absolute;   /* Allow manual positioning */
  left: 50% !important; /* Move to horizontal middle */
  top: 48% !important;  /* Move to vertical middle */
  transform: translate(-50%, -50%) !important; /* Perfect center anchor */
}

.page-title-bar {
  padding-left: 28px;
  font-size: 50px;
  height: 65px;
  line-height: 65px;
  /* This keeps "Now" attached to the top of the centered box */
}
