/* Poppins font import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

/* Regular text (light Poppins) */
.regular-text{
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.15);
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 62px;
  color: white;
}

/* Strong text (bold Poppins) */
.strong-text{
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 60px;
  color:white;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
}